Flask==3.1.0
flask_autoindex
waitress==3.0.2
requests
jsonschema
SPARQLWrapper
pyoxigraph==0.5.2
pyparsing==3.2.5    # because >=3.3.0 emits warnings with RDFLib 7.5.0 
rdflib>=7.6.0
PyLD==3.1.0
flask-cors
