:root {
  --link-color: #751e03;
}
body {
  margin: 20px;
  font-family: sans-serif;
  color: #340000;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  text-indent: -2.5em;
  padding-left: 2.5em;
  margin-bottom: 0.2em;
}
a {
  text-decoration: none;
  color: var(--link-color);
}
li > b > a {
  background: #fadda1;
  border-radius: 3px;
  padding: 3px 6px;
  cursor: pointer;
}
header a:hover {
  text-decoration: underline;
}
li > b > a:hover:not(.disabled) {
  background: var(--link-color);
  color: white;
}
a.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.msg { color: green; }
.error { color: red !important; }


.tabs-nav{
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
  user-select: none;
}
.tab-item {
  font-weight: bold;
  background: #9c9c9c;
  padding: 6px 12px;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
}
.tab-item:hover,
.tab-item:has(input:checked),
.tab-item.checked {
  background: var(--link-color);
}
.tab-item input{
  display: none;
}
.tab-content{
  display: none;
}
.tabs-wrapper:has(#tab-collection-toggle:checked) #collection {
  display: block;
}
.tabs-wrapper:has(#tab-terminology-toggle:checked) #terminology {
  display: block;
}
.tabs-wrapper:has(#tab-mapping-toggle:checked) #mapping {
  display: block;
}
.tabs-wrapper:has(#tab-sparql-toggle:checked) #sparql {
  display: block;
}
