<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title v-text="title">Grimpo Knowledge Graph Importer</title>
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="grimpo-icon.png" sizes="32x32" />
    <link rel="icon" href="grimpo-icon.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="grimpo-icon.png" />
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>
  <body>
    <header>
      <a href="https://github.com/nfdi4objects/grimpo#readme">
        <img src="grimpo.jpg" style="float:right; width:15em" title="Grimpoteuthis umbellata" />
      </a>
      <h1><a href="./" v-text="title">Grimpo Knowledge Graph Importer</a></h1>
      <p>
        Controlled <b>write access</b> to
        <b>
        {% if sparql %}
          a triple store at <a id="backend" href="{{ sparql }}">{{ sparql }}</a>.
        {% else %}
          an <span id="backend">in-memory triple store</span>.
        {% endif %}
        </b>
        This backend service provides
        <a href="https://github.com/nfdi4objects/grimpo#api">API endpoints</a>
        <b>without authentication</b>!
        Please use SPARQL endpoint or <a :href="frontend" v-text="frontend"></a>.
      </p>
    </header>


