<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="{{ root }}grimpo-icon.png" sizes="32x32" />
    <link rel="icon" href="{{ root }}grimpo-icon.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="{{ root }}grimpo-icon.png" />
    <link rel="stylesheet" href="{{ root }}style.css" />
    <script>const root = "{{ root }}"</script>
    <script src="{{ root }}script.js"></script>
  </head>
  <body>
    <header>
      <a href="https://github.com/nfdi4objects/grimpo#readme">
        <img src="{{ root }}grimpo.jpg" style="float:right" title="Grimpoteuthis umbellata" />
      </a>
      <h1><a href="{{ root }}">{{ title }}</a></h1>
      <p>
        Controlled <b>write access</b> to
        <b>
        {% if sparql %}
          a triple store at <a id="backend" href="{{ sparql }}">{{ sparql }}</a>.
        {% else %}
          an <span id="backend">in-memory triple store</span>.
        {% endif %}
        </b>
        This backend service provides
        <a href="https://github.com/nfdi4objects/grimpo#api">API endpoints</a>
        <b>without authentication</b>!

        Please use SPARQL endpoint or <a href="{{ frontend }}">frontend</a>
        for read access and consider <a href="{{ admin }}">admin user interface</a>.
      </p>
    </header>


