{% include 'head.html' %}

{% macro help(text, id) -%}
  <span class="msg" id="{{id}}"></span>
  <br>{{ text|safe }}
  <a href="https://github.com/nfdi4objects/grimpo#{{id}}" target="_blank">🛈</a>
{%- endmacro -%}
{% macro input_id(class) -%}
  <input type="number" min="0" step="1" size="6" placeholder=":id" class="{{class}}"/>
{%- endmacro -%}

<div class="tabs-wrapper">
  <nav class="tabs-nav">
    <label for="tab-collection-toggle" class="tab-item">
      Collection
      <span id="collections"></span>
      <input name="tabs-toggle" id="tab-collection-toggle" type="radio">
    </label>
    <label for="tab-terminology-toggle" class="tab-item">
      Terminology
      <span id="terminologies"></span>
      <input name="tabs-toggle" id="tab-terminology-toggle" type="radio">
    </label>
    <label for="tab-mapping-toggle" class="tab-item">
      Mappings
      <span id="mappings"></span>
      <input name="tabs-toggle" id="tab-mapping-toggle" type="radio">
    </label>
    <a href="{{ root }}data" class="tab-item">
      Data
    </a>
    {% if not sparql %}
    <label for="tab-sparql-toggle" class="tab-item">
      SPARQL
      <input checked name="tabs-toggle" id="tab-sparql-toggle" type="radio">
    </label>
    {% endif %}
    <a href="{{ root }}status.json" class="tab-item">Status</a>
  </nav>

<div id="collection" class="tab-content">
<ul>
  <li>
    <b>GET <a href="/collection/">/collection/</a></b>
    {{ help("Return the list of registered collections","get-collection") }}
  </li>
  <li>
    <b>GET <a href="/collection/schema.json">/collection/schema.json</a></b>
    {{ help("Return the JSON Schema used to validation collection metadata","get-collectionschemajson") }}
  </li>
  <li>
    <b>PUT <a onclick="replaceCollections(this)">/collection/</a></b>
    <input type="file" name="file" id="put-collection-file">
    {{ help("Register a list of collections, replacing existing ones","put-collection") }}
  </li>
  <li>
    <b>POST <a onclick="registerCollection(this)">/collection/</a></b>
    <input type="file" name="file" id="post-collection-file">
    {{ help("Register a new collection or update metadata of a registered collection","post-collection") }}
  </li>
  <li>
    <b>GET <a onclick="visit(this,'/collection/'+idValue.col)">/collection/</a>{{ input_id("col") }}</b>
    {{ help("Return metadata of a specific registered collection","get-collectionid") }}
  </li>
  <li>
    <b>PUT <a onclick="updateCollection(this)">/collection/</a>{{ input_id("col") }}</b>
    <input type="file" name="file" id="put-collectionid-file">
    {{ help("Update metadata of a specific registered collection or register a new collection","put-collectionid") }}
  </li>
  <li>
    <b>DELETE <a onclick="deleteCollection(this)">/collection/</a>{{ input_id("col") }}</b>
    {{ help("Unregister a collection and remove it from the triple store and staging area","delete-collectionid") }}
  </li>
  <li>
    <b>GET <a onclick="visit(this,'/collection/'+idValue.col+'/stage/')">/collection/</a>{{ input_id("col") }}/stage/</b>
    {{ help("List and get files of the stage directory of a collection","get-collectionidstage") }}
  </li>
  <li>
    <b>POST <a onclick="receiveCollection(this)">/collection/</a>{{ input_id("col") }}/receive</b>
    ? from=<input type="text" placeholder="URL or file" id="receiveCollection" />
    {{ help("Receive and process collection data","post-collectionidreceive") }}
  </li>
  <li>
    <b>GET <a onclick="visit(this,'/collection/'+idValue.col+'/receive')">/collection/</a>{{ input_id("col") }}/receive</b>
    {{ help("Get latest receive log of a collection","get-collectionidreceive") }}
  </li>
  <li>
    <b>POST <a onclick="loadCollection(this)">/collection/</a>{{ input_id("col") }}/load</b>
    {{ help("Load received and processed collection data into the triple store","post-collectionidload") }}
  </li>
  <li>
    <b>GET <a onclick="visit(this,'/collection/'+idValue.col+'/load')">/collection/</a>{{ input_id("col") }}/load</b>
    {{ help("Get latest load log of a collection","get-collectionidload") }}
  </li>
  <li>
    <b>POST <a onclick="removeCollection(this)">/collection/</a>{{ input_id("col") }}/remove</b>
    {{ help("Remove collection data from the triple store","post-collectionidremove") }}
  </li>
</ul>
    </div>
<div id="terminology" class="tab-content">
<ul>
  <li>
    <b>GET <a href="/terminology/">/terminology/</a></b>
    {{ help("Return the list of registered terminology metadata", "get-terminology") }}
  </li>
  <li>
    <b>GET <a onclick="visit(this,'/terminology/'+idValue.ter)">/terminology/</a>{{ input_id("ter") }}</b>
    {{ help("Return metadata of a registered terminology","get-terminologyid") }}
  </li>
  <li>
    <b>PUT <a onclick="registerTerminology(this)">/terminology/</a>{{ input_id("ter") }}</b>
    {{ help('Register a terminology or update its metadata from <a href="https://bartoc.org/">BARTOC</a>',"put-terminologyid") }}
  </li>
  <li>
    <b>DELETE <a onclick="deleteTerminology(this)">/terminology/</a>{{ input_id("ter") }}</b>
    {{ help("Unregister a terminology and remove it from stage area and triple store","delete-terminologyid") }}
  </li>
  <li>
    <b>PUT <a onclick="replaceTerminologies(this)">/terminology/</a></b>
    <input type="file" name="file" id="put-terminology-file">
    {{ help("Register a list of terminologies, replacing existing ones","put-terminology") }}
  </li>
  <li>
    <b>GET <a onclick="visit(this,'/terminology/'+idValue.ter+'/stage/')">/terminology/</a>{{ input_id("ter") }}/stage/</b>
    {{ help("List and get files of the stage directory of a terminology","get-terminologyidstage") }}
  </li>
  <li>
    <b>POST <a onclick="receiveTerminology(this)">/terminology/</a>{{ input_id("ter") }}/receive</b>
    ? from=<input type="text" placeholder="URL or file" id="receiveTerminology" />
    {{ help("Receive terminology data","post-terminologyidreceive") }}
  </li>
  <li>
    <b>GET <a onclick="visit(this,'/terminology/'+idValue.ter+'/receive')">/terminology/</a>{{ input_id("ter") }}/receive</b>
    {{ help("Get latest receive log of a terminology","get-terminologyidreceive") }}
  </li>
  <li>
    <b>POST <a onclick="loadTerminology(this)">/terminology/</a>{{ input_id("ter") }}/load</b>
    {{ help("Load terminology data into the triple store","post-terminologyidload") }}
  </li>
  <li>
    <b>GET <a onclick="visit(this,'/terminology/'+idValue.ter+'/load')">/terminology/</a>{{ input_id("ter") }}/load</b>
    {{ help("Get latest load log of a terminology","get-terminologyidload") }}
  </li>
  <li>
    <b>POST <a onclick="removeTerminology(this)">/terminology/</a>{{ input_id("ter") }}/remove</b>
    {{ help("Remove terminology data from the triple store","post-terminologyidremove") }}
  </li>
  <li>
    <b>GET <a href="/terminology/namespaces.json">/terminology/namespaces.json</a></b>
    {{ help("Return the list of registered URI namespaces forbidden to be used in RDF subjects","get-terminologynamespacesjson") }}
  </li>
  <li>
    <b>GET <a href="/terminology/skosmos.ttl">/terminology/skosmos.ttl</a></b>
    {{ help("Return Skosmos vocabulary configuration for imported SKOS and JSKOS terminologies.") }}
  </li>
</ul>
</div>
<div id="mapping" class="tab-content">
<ul>
  <li>
    <b>GET <a href="/mappings/">/mappings/</a></b>
    {{ help("Return the list of registered mapping sources","get-mappings") }}
  </li>
  <li>
    <b>GET <a href="/mappings/schema.json">/mappings/schema.json</a></b>
    {{ help("Return the JSON Schema used to validation mapping sources","get-mappingsschemajson") }}
  </li>
  <li>
    <b>PUT <a onclick="replaceMappings(this)">/mappings/</a></b>
    <input type="file" name="file" id="put-mappings-file">
    {{ help("Register a list of mappings sources, removing all existing mappings and mapping sources","put-mappings") }}
  </li>
  <li>
    <b>POST <a onclick="registerMappings(this)">/mappings/</a></b>
    <input type="file" name="file" id="post-mappings-file">
    {{ help("Register a new mapping source or update metadata of a mapping source","post-mappings") }}
  </li>
  <li>
    <b>GET <a onclick="visit(this,'/mappings/'+idValue.map)">/mappings/</a>{{ input_id("map") }}</b>
    {{ help("Return a specific mapping source","get-mappingsid") }}
  </li>  
  <li>
    <b>PUT <a onclick="updateMappings(this)">/mappings/</a>{{ input_id("map") }}</b>
    <input type="file" name="file" id="put-mappingsid-file">
    {{ help("Update a specific mapping source", "put-mappingsid") }}
  </li>
  <li>
    <b>DELETE <a onclick="deleteMappings(this)">/mappings/</a>{{ input_id("map") }}</b>
    {{ help("Unregister a mappings source and remove it from the triple store and staging area","delete-mappingsid") }}
  </li>  
  <li>
    <b>POST <a onclick="appendMappings(this)">/mappings/</a>{{ input_id("map") }}/append</b>
    <input type="file" name="file" id="post-mappingsidappend-file">
    {{ help("Directly add mappings to the triple store","post-mappingsidappend") }}
  </li>
  <li>
    <b>POST <a onclick="detachMappings(this)">/mappings/</a>{{ input_id("map") }}/detach</b>
    <input type="file" name="file" id="post-mappingsiddetach-file">
    {{ help("Directly remove mappings from the triple store","post-mappingsiddetach") }}
  </li>
  <li>
    <b>GET <a onclick="visit(this,'/mappings/'+idValue.map+'/stage/')">/mappings/</a>{{ input_id("map") }}/stage/</b>
    {{ help("List and get files of the stage directory of a mapping source","get-mappingsidstage") }}
  </li>
  <li>
    <b>POST <a onclick="receiveMappings(this)">/mappings/</a>{{ input_id("map") }}/receive</b>
    ? from=<input type="text" placeholder="URL or file" id="receiveMappings" />
    {{ help("Receive and process mappings from a mapping source","post-mappingsidreceive") }}
  </li>
  <li>
    <b>GET <a onclick="visit(this,'/mappings/'+idValue.map+'/receive')">/mappings/</a>{{ input_id("map") }}/receive</b>
    {{ help("Get latest receive log of a mapping source","get-mappingsidreceive") }}
  </li>
  <li>
    <b>POST <a onclick="loadMappings(this)">/mappings/</a>{{ input_id("map") }}/load</b>
    {{ help("Load received and processed mappings into the triple store","post-mappingsidload") }}
  </li>
  <li>
    <b>GET <a onclick="visit(this,'/mappings/'+idValue.map+'/load')">/mappings/</a>{{ input_id("map") }}/load</b>
    {{ help("Get latest load log of a mapping source","get-mappingsidload") }}
  </li>
  <li>
    <b>POST <a onclick="removeMappings(this)">/mappings/</a>{{ input_id("map") }}/remove</b>
    {{ help("Remove mappings of a specific mapping source from the triple store and from staging area","post-mappingsidremove") }}
  </li>
</ul>
</div>

{% if not sparql %}
<div id="sparql" class="tab-content">
  <ul>
    <li>
      <b>GET|POST <a onclick="visit(this,'/sparql?query='+encodeURIComponent(document.getElementById('query').value))">/sparql</a>?query=</b>
      <input type="text" placeholder=":query" id="query" />
      {{ help("SPARQL Query endpoint to in-memory triple store","getpost-sparql") }}
    </li>
  </ul>  
</div>
{% endif %}
</div>

{% include 'foot.html' %}
