<nav class="tabs-nav">
  <a href="#collection" class="tab-item {% if path == 'collection' %}checked{% endif %}">
    Collection
    <span id="collections"></span>
  </a>
  <a href="#terminology" class="tab-item {% if path == 'terminology' %}checked{% endif %}">
    Terminology
    <span id="terminologies"></span>
  </a>
  <a href="#mappings" class="tab-item {% if path == 'mappings' %}checked{% endif %}">
    Mappings
    <span id="mappings"></span>
  </a>
  <a href="#data" class="tab-item {% if path == 'data' %}checked{% endif %}">
    Data
    <span id="data"></span>
  </a>
  <a href="#sparql" class="tab-item">
    SPARQL
  </a>
  <a href="status.json" class="tab-item">Status</a>
</nav>
