:root {
  --link-color: #751e03;
  --text-color: #340000;
}
body {
  margin: 1em;
  font-family: sans-serif;
  color: var(--text-color);
}
header a:hover {
  text-decoration: underline;
}

ul.endpoints {
  list-style-type: disc;
  padding-left: 1em;
}
ul.endpoints > li {
  text-indent: -2.5em;
  padding-left: 2.5em;
  margin-bottom: 0.2em;
}
a {
  text-decoration: none;
  color: var(--link-color);
}
li > b > a {
  background: #fadda1;
  border-radius: 3px;
  padding: 3px 6px;
  cursor: pointer;
}
li:not(.disabled) > b > a:hover {
  background: var(--link-color);
  color: white;
}
li.disabled > b > a {
  cursor: not-allowed;
  opacity: 0.5;
}

.message { color: green; }
.error { color: red !important; }


.tabs-nav{
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
  user-select: none;
}
.tab-item {
  font-weight: bold;
  background: #9c9c9c;
  padding: 6px 12px;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
}
.tab-item:hover,
.tab-item:has(input:checked),
.tab-item.checked {
  background: var(--link-color);
}
.tab-item input{
  display: none;
}
.tab-content{
  display: none;
}
.tabs-wrapper:has(#tab-collection-toggle:checked) #collection {
  display: block;
}
.tabs-wrapper:has(#tab-terminology-toggle:checked) #terminology {
  display: block;
}
.tabs-wrapper:has(#tab-mapping-toggle:checked) #mapping {
  display: block;
}
.tabs-wrapper:has(#tab-data-toggle:checked) #data {
  display: block;
}
.tabs-wrapper:has(#tab-sparql-toggle:checked) #sparql {
  display: block;
}
.tabs-wrapper:has(#tab-generic-toggle:checked) #generic {
  display: block;
}

.modal-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.modal-dialog {
  background: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  min-width: 300px;
  position: relative;
}
.modal-dialog h3 {
  margin: 0 0 0.25em 0;
}

.selector-table tr:hover {
  background: var(--link-color);
  cursor: pointer;
}
.selector-table tr:hover td {
  background: var(--link-color);
  color: white;
}

.required {
  font-weight: bold;
}

.editor td {
  vertical-align: top;
}
input[type="text"] {
  width: 40em;
}

button {
  background: #fadda1;
  border-radius: 3px;
  padding: 3px 6px;
  cursor: pointer;
  color: var(--link-color);
  font-weight: bold;
  margin: 3px;
  border: none;
  font-size: 1em;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
button:hover:not(:disabled) {
  background: var(--link-color);
  color: white;
}
